# Python
## Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

## Distribution / packaging
dist/

## Unit test / coverage reports
.coverage
.pytest_cache/
coverage.xml
junit.xml

## Environment
.venv/

## Development
.ruff_cache/
